* {
	font-family: Raleway, Arial, Helvetica, sans-serif;	
}

html {
	background: #f9f9f9;
	font-size: 10px;
}

/* 	SCROLLBAR  */ 	

html {
  --scrollbarBG: #f8f9fa;
  --thumbBG: #d3d3d3;
}

html::-webkit-scrollbar {			
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

html::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {		  
  position: relative;
  min-height: 100vh;		 
  padding: 0;
	margin: 0;	
}	

header {				
  position:sticky;
  background: #f9f9f9 ;
  top: 0px;
  z-index: 1000;		
  box-shadow: 0 14px 20px rgb(0 0 0 / 5%),
              0 1px 0 rgb(0 0 0 /2%);
  transition: all 300ms ease-in-out;  
}

.animaHeaderIn{
  transform: translateY(0px);
}
  
.animaHeaderOut{
  transform: translateY(-100%);
}

h1 { 
  font-family: Caveat, Arial, Helvetica, sans-serif;
  font-size: 4rem;
  flex: 1 200px;	
}

h2 {
  font-size: 2rem;
}

p {
  margin: 10px 0;
  font-size: 1.7rem;
}

a {
  padding: 0 5px 0;
  border-bottom: 1px solid rgb(0 0 0 / 0%);
}

a:link,
a:visited {
	color: #333;
}

a:active {		
  color: rgb(0, 0, 0);	
  transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
}

#nav-container-mobile {		
  padding: 0 2em;
  font-size: 1.9rem;
  display: flex;
}

#btn-hamburger {
  display: none;
}

#menu-colapsable {
  display: flex;
  align-items: center;
  flex: 1 600px;
}

#menu-colapsable__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.menu-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-item a {
  display: flex;
  align-items: center;
}

.menu-item > a:hover {		
  color: rgb(175, 175, 175);		
  transition: all 0.3s cubic-bezier(.25,.46,.45,.94);
  box-shadow: 0 0.5px rgb(175 175 175);
  height: 45%;
}	

.menu-item:nth-child(2):hover .obra-submenu-container {
  height: 223px;		
}

.menu-item:nth-child(2) {
	position: relative;
}

.obra-submenu-container {
	display: flex ;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 100%;
	left:-31px;
	padding: 0 20px;
	background: #f9f9f9;
	height: 0;
	overflow: hidden;
	box-shadow: 0 30px 20px rgb(0 0 0 / 50%);
	border-radius: 0 0 8px 8px;
	transition: height 0.3s cubic-bezier(.25,.46,.45,.94);
}

.obra-submenu-container li:first-child {
  text-align: center;
}

.obra-submenu-container__item:hover {
  color: rgb(175, 175, 175);		
  transition: all 0.3s cubic-bezier(.25,.46,.45,.94);
}

.container {
  font-family: 'Source Serif Pro',sans-serif;
  display: flex;
  flex-direction: column;  
  padding: 2em 20em 15em;
  margin: 40px 0 0 0;
  transition: background 0.4s cubic-bezier(.25,.46,.45,.94);
}

.container__div {
  margin: 15px 0;
}

.container-img {	
  display: flex;
  justify-content: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; 
  margin: 40px 10px;
  justify-items: center;
  align-items: center;
}

.img-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.img-galeria:hover {
  filter: drop-shadow(0px 0px 15px rgb(0 0 0 / 100%)) grayscale(50%);
  transition: filter 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);    
  cursor: pointer;   
}

#img-1 {
  grid-column: 1/3; 
}

#img-2 {
  grid-column: 1/3; 
}
    
#img-3 {
  grid-column: 3/5;
  grid-row: 1/3;
}

#img-4 {
  grid-column:1/5;
  grid-row: 3/4;
}

#img-5 {
  grid-column:1/5;
  grid-row: 4/5;
}

#modal__img {
  height: 90%;
  object-fit: contain;
}

#modal {
	display: none; 
	position: fixed;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	z-index: 3000;
	padding: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.9);
}


#modal__epigrafe {
	padding-top: 20px;
	color:#f1f1f1;
	font-size: 1.4rem;
}

#modal__img, #modal__epigrafe {
	animation-name: zoom;
	animation-duration: 0.3s;
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

#modal__btnCerrar {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

#modal__btnCerrar:hover,
#modal__btnCerrar:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.vertical {
	height: 90%;
}

.alto-200 {
	height: 200px;
}

.alto-160 {
	height: 160px;
}

footer {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background: #f3f3f3;
	border-top: 1px solid #e9e9e9;  
	justify-items: center;
	align-items:center;
	position: absolute;	
	bottom: 0;
	width: 100%;		
  padding: 10px 0;
  height: 12em;
}

footer .fab {
	font-size: 5rem;
}

.copyright {
	margin: 10px 10px;
	font-size: 1.3rem;	
}

.developed {	
	margin: 10px 10px;
	font-size: 1.3rem;	
}

#instagram {
  grid-column: 7/9;
}

#facebook {
  grid-column: 5/7;
}

#btn-saltear {
  color:#adadad;
  position: absolute;
  top: 5vh;
  right: 30px;
}

.video-container {
  display: flex;
  justify-content: center;  
  background: radial-gradient(circle, rgba(0,0,0,1) 80%, rgb(24 0 53) 100%);    
}

#video-presentacion {
  height: 100vh;
}

.no-show {
  display: none;
}

.copyright {
  padding-top: 8px;
  font-size: 1.2rem;
  grid-row: 1/2;
  grid-column: 2/4;
  justify-self: center;
  margin: 0;
}

.developed {	
  padding-top: 2px;
  margin: 0;
  font-size: 1.2rem;
  grid-row: 1/2;
  grid-column: 10/12;
  justify-self: center;		
}

/*TRAMPAS*/

.gallery-container.trampas  {    
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-rows: repeat(4, 351px);	
}

#img-1.trampas {
	grid-column:  1/8;
	grid-row: 1/3;
}

#img-2.trampas  {
	grid-column:  8/16;
	grid-row: 1/2;
}

#img-3.trampas  {
	grid-column:  8/16;
	grid-row: 2/3;
}

#img-4.trampas  {
	grid-column:  1/9;
	grid-row: 3/4;
	
}

#img-5.trampas  {
	grid-column:  9/16;
	grid-row: 3/5;
	
}

#img-6.trampas  {
	grid-column:  1/9;
	grid-row: 4/5;
	
}

/*MAGNETISMO*/

.gallery-container.magnetismo {  
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-rows: repeat(6, 351px);		
}

#img-1.magnetismo {
	grid-column:  1/8;
	grid-row: 1/2;
}

#img-2.magnetismo {
	grid-column:  8/16;
	grid-row: 1/3;
}

#img-3.magnetismo {
	grid-column:  1/8;
	grid-row: 2/3;
}

#img-4.magnetismo {
	grid-column:  1/6;
	grid-row: 3/4;
	
}

#img-5.magnetismo {
	grid-column:  1/6;
	grid-row: 4/5;
	
}

#img-6.magnetismo {
	grid-column:  6/16;
	grid-row: 3/5;
	
}

#img-7.magnetismo {
	grid-column:  1/8;
	grid-row: 5/6;
}

#img-8.magnetismo {
	grid-column:  1/8;
	grid-row: 6/7;
}

#img-9.magnetismo {
	grid-column:  8/16;
	grid-row: 5/7;
}

/*CONTACTO*/

p.contacto {
  margin: 0 0 50px 0; 
}

#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#facebook-contact {
  font-size: 160px
}

#instagram-contact {
  font-size: 160px
}

#linktree-contact {
  height: 170px;
}

/*BIO*/

.container.bio {
  margin: 50px 0 0 0;
}

.bio-container {
  margin: 0 0 50px 0;
}

#img-bio {
  max-width: 400px;
  float: right;
  margin: 0 0 0 20px;
}

.contenido-bio {
  line-height: 1.5;
  margin: 0;
}

#ubicacion-texto {
  font-size: 1.7rem;
  margin: 0 0 20px 0;
}

#title-bio {
  font-family: Raleway, sans-serif;
  flex: 0 0;
  margin: 0 0 20px 0;
}

/* 
ESTILOS MOBILE
*/

@media screen and (max-width: 700px) {

	body {		
		overflow-x: hidden;
	}	 

	/* header {		
		box-shadow: 0 20px 20px rgb(0 0 0 / 5%), 
                0 0px 5px rgb(0 0 0 / 5%);
		position:sticky;
		top: 0;
		z-index: 2000;
	} */

  h1 {  	
    font: 3rem Caveat, sans-serif;
    display: inline;
  }  

  h2 {
		font-size: 1.7rem;
	}

  p {
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	#nav-container-mobile {	
		background-color: #f9f9f9;		
		width: 100%;
		align-items: center;
		justify-content: space-between;		
		padding: 0 1.5rem;
	}	

	#btn-hamburger {
    display: block;
		font-size: 2rem;
		background: #f9f9f9;		
		border: 0px;
    padding: 6px 8px;
		border-radius: 5px;
	}
	
	#menu-colapsable {
		box-shadow: inset 0 -30px 20px rgb(0 0 0 / 5%), 
					      inset 0 14px 20px rgb(0 0 0 / 5%);		
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;		
		width: 100%;
		background: #f9f9f9 ;
		overflow: hidden;
		flex-direction: column;		
		justify-content: center;
		height: 0; /*El efecto era originalmente con max-height, lo cambie para poder alterar la altura del contenedor porque me quedaba muy pegada la sombra al texto y con margin y padding no podia alejarlo*/
    transition: height 0.4s cubic-bezier(.25,.46,.45,.94);
	}

	#menu-colapsable__ul {
    justify-content: space-evenly;
		flex-direction: column;
    padding: 10px 0;
	}
	
	.menu-item {
		margin: 1rem 0;
		font-size: 1.7rem;
	}

  .menu-item > a:hover {
    box-shadow: none;
  }

	.obra-submenu-container {	
		top: -40px;
		left:100px;
		align-items: flex-end;
		box-shadow: 0 0 0;
    background-color: inherit;
	}
  
  .obra-submenu-container li {
		margin: 0.3rem 0;
	}

  .obra-submenu-container li:first-child {
    text-align: end;
  }   	

	#submenu-colapsable-btn a {
		padding: 0;
	}	

	.container {				
		padding: 2em 2em 15em 2em;				
	}
	
	.opacar {
		background: #444444;	
		filter: grayscale(70%);
		transition: background 0.4s cubic-bezier(.25,.46,.45,.94);
	}	

  .no-border-top {
    border-top: 1px solid #444444;
  }

	.container-img {	
		flex-direction: column;		
		margin: 1rem 0 0 0;
		transition: background 0.4s cubic-bezier(.25,.46,.45,.94);
	}

	.gallery-container {
		display: flex;
		flex-direction: column;
	}

	.img-galeria {
		max-width: 100%;
		margin: 1rem 0;
	}

	#modal__img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	.form-container__form {
		width: 100%;
	}

	footer {		
		margin-top: 20px;
	}

  footer .fab {
		font-size: 4rem;
	}

	#instagram {
		grid-column: 7/9;
	}

	#facebook {
		grid-column: 5/7;
	}
	
	.copyright {
		padding-top: 8px;
		font-size: 1.2rem;
		grid-row: 2/3;
		grid-column: 1/17;
		justify-self: center;
		margin: 0;
	}
	
	.developed {	
		padding-top: 2px;
		margin: 0;
		font-size: 1.1rem;
		grid-row: 3/4;
		grid-column: 1/17;
		justify-self: center;		
	}		
  
  #video-presentacion {
    height: 100vw;
  }

  #saltear {
    top: 90vh;
  }
  .video-container {
    height: 100vh;
    align-items: center;
  }

  /*TRAMPAS*/

  .gallery-container.trampas  {   
		margin: 0;
	}
  
  .gallery-container.magnetismo {
		margin: 0;
	}

  /*CONTACTO*/

  #contact-container {
    flex-direction: column;
    align-items: center;
  }

  #contact-container a {
    margin: 20px 0;
  }

  #facebook-contact {
    font-size: 100px
  }
  
  #instagram-contact {
    font-size: 100px
  }
  
  #linktree-contact {
    height: 105px;
  }

  /*BIO*/

  #img-bio {
    max-width: 100%;  
    float: inherit;
    margin: 0;
  }

  #ubicacion-texto {
    margin: 30px 0;
  }

}

/* 
ESTILOS TABLET
*/

@media screen and (min-width: 700px) and (max-width: 993px ) { 

	body {
		padding: 0;
		margin: 0;
	}	

	header {				
		position:sticky;
		background: #f9f9f9 ;
		top: 0px;
		z-index: 1000;		
		box-shadow: 0 14px 20px rgb(0 0 0 / 5%),
					      0 1px 0 rgb(0 0 0 /2%);
    transition: all 300ms ease-in-out;
		
	}

  .animaHeaderIn{
      transform: translateY(0px);
    }
    
  .animaHeaderOut{
    transform: translateY(-100%);
  }

	#nav-container-mobile {		
		padding: 0 2em;
		font-size: 1.9rem;
		display: flex;
	}

	#btn-hamburger {
		display: none;
	}
	
	#menu-colapsable {
		display: flex;
		align-items: center;
		flex: 1 300px;
	}


	#menu-colapsable__ul {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
	}	

	h1 {
		font-size: 3.5rem;
		flex: 1 200px;
	}
	
	a {
		padding: 0 5px 0;
		border-bottom: 1px solid rgb(0 0 0 / 0%);
	}

	/*chequear como hacer la transicion solomanete del text decoration sin tocar el padding*/
	.menu-item > a:focus {
		padding-bottom: 10px;
		border-bottom: 1px solid rgb(0 0 0 / 10%);
		color: rgb(175, 175, 175);		
		transition: all 0.3s cubic-bezier(.25,.46,.45,.94);
	}	

	a:active {		
		color: rgb(0, 0, 0);	
		transition: all 0.1s cubic-bezier(.25,.46,.45,.94);
	}

	.container {
		font-family: 'Source Serif Pro',sans-serif;
		display: flex;
		flex-direction: column;	
		/* position: relative;
		top: 2rem; */
		padding: 2em 2em 15em 2em;
		margin: 40px 0 0 0;
		transition: background 0.4s cubic-bezier(.25,.46,.45,.94);		
	}

	.container__div {
		margin: 15px 0;
	}

	h2 {
		font-size: 2rem;
	}

	p {
		margin: 10px 0;
		font-size: 1.7rem;
	}

	.container-img {	
		display: flex;
		justify-content: center;
	}

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    margin: 40px 10px;
    justify-items: center;
  
  }

	.img-galeria {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
  #img-1 {
    grid-column: 1/3; 
  }

  #img-2 {
    grid-column: 1/3; 
  }
      
  #img-3 {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  #img-4 {
    grid-column:1/5;
    grid-row: 3/4;
  }

  #img-5 {
    grid-column:1/5;
    grid-row: 4/5;
  }

	#modal__img {
		max-width: 100%;
		object-fit: contain;
	}

	.form-container__form {
		width: 80%;
	}

	footer {
		padding: 10px 0;
		height: 12em;
	}

	#instagram {
		grid-column: 7/9;

	}

	#facebook {
		grid-column: 5/7;
	}
	
	.copyright {
		padding-top: 8px;
		font-size: 1.2rem;
		grid-row: 2/3;
		grid-column: 1/17;
		justify-self: center;
		margin: 0;
	}
	
	.developed {	
		padding-top: 2px;
		margin: 0;
		font-size: 1.1rem;
		grid-row: 3/4;
		grid-column: 1/17;
		justify-self: center;		
	}

	html::-webkit-scrollbar-thumb {
		background-color: var(--thumbBG) ;
		border-radius: 6px;
		border: 3px solid var(--scrollbarBG);
	}
  
  .obra-submenu-container.alto-200 li:first-child {   
    text-align: center;  
  }

  /*CONTACTO*/

  #facebook-contact {
    font-size: 90px
  }
  
  #instagram-contact {
    font-size: 90px
  }
  
  #linktree-contact {
    height: 100px;  
  }  
}
